@model IEnumerable<CourseSelection.Models.Course>
@* @model CourseSelection.Models.Student
@model CourseSelection.Models.Course *@
@{
    ViewBag.Title = "Kurs Listesi";
    Layout = "~/Views/Shared/_Layout.cshtml";
    <!-- Layout kullanıyorsanız -->
}

<h2>Kurs Listesi</h2>

@if (TempData["Message"] != null)
{
    <div class="alert alert-success">@TempData["Message"]</div>
}

<table class="table table-bordered">
    <thead>
        <tr>
            <th>Kurs Adı</th>
            <th>Açıklama</th>
            <th>Kontenjan</th>
            <th>İşlem</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var course in Model)
        {
            <tr>
                <td>@course.CourseName</td>


                <td>
                    @using (Html.BeginForm("SelectCourse", "Student", FormMethod.Post))
                    {
                        @Html.Hidden("courseId", course.CourseID)
                        <button type="submit" class="btn btn-primary">Seç</button>
                    }
                </td>
            </tr>
        }
    </tbody>
</table>
