@model List<CourseSelection.Models.Course>

<h2>Select Courses</h2>

<form method="post" asp-action="CourseSelection">
    <input type="hidden" name="StudentId" value="@ViewBag.StudentID" />
    <table class="table">
        <thead>
            <tr>
                <th>Select</th>
                <th>Course Code</th>
                <th>Course Name</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var course in Model)
            {
                <tr>
                    <td>
                        <input type="checkbox" name="selectedCourses" value="@course.CourseID" />
                    </td>
                    <td>@course.CourseCode</td>
                    <td>@course.CourseName</td>
                </tr>
            }
        </tbody>
    </table>
    <button type="submit" class="btn btn-primary">Submit</button>
</form>


