@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
@model CourseSelection.Models.ForgotPasswordViewModel

<h2>Forgot Password</h2>
<form asp-action="ForgotPassword" method="post">
    <div>
        <label>Email:</label>
        <input asp-for="Email" />
    </div>
    <button type="submit">Submit</button>
</form>

@if (!string.IsNullOrEmpty(ViewBag.Message))
{
    <p>@ViewBag.Message</p>
}
