@model IEnumerable<CourseSelection.Models.Advisor>

@{
    ViewData["Title"] = "Öğrenci Listesi";
}

<h1>Öğrenci Listesi</h1>

<p>
    <a asp-action="Create" class="btn btn-success">Yeni Öğrenci Ekle</a>
</p>

<table class="table table-striped">
    <thead>

    </thead>
    <tbody>

        <p>hello</p>
    </tbody>
</table>
