@model CourseSelection.Models.Advisor

<h1>Advisor Details</h1>
<table>
    <tr>
        <th>Full Name</th>
        <td>@Model.FullName</td>
    </tr>
    <tr>
        <th>Title</th>
        <td>@Model.Title</td>
    </tr>
    <tr>
        <th>Department</th>
        <td>@Model.Department</td>
    </tr>
    <tr>
        <th>Email</th>
        <td>@Model.Email</td>
    </tr>
</table>


