/* Genel arka plan ve kart görünümü */
body {
    background-color: #fff5f7; /* Açýk pembe arka plan */
    margin-bottom: 60px;
}

.card {
    border: none;
    background-color: #ffe6f0; /* Hafif pembe kart arka planý */
    border-radius: 10px;
}

/* Buton Stili */
.custom-pink-button {
    background-color: #ff99cc; /* Açýk pembe */
    border: none;
    color: white;
    font-weight: bold;
    padding: 10px;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

    .custom-pink-button:hover {
        background-color: #ff6699; /* Daha koyu pembe */
    }

/* Form alanlarý */
.form-control,
.form-select {
    border-radius: 5px;
    border: 1px solid #ffccdd;
    box-shadow: 0 0 5px rgba(255, 153, 204, 0.2);
}

    .form-control:focus,
    .form-select:focus {
        border-color: #ff99cc;
        box-shadow: 0 0 5px rgba(255, 153, 204, 0.5);
    }

/* Responsive Yazý Boyutu */
html {
    font-size: 14px;
    position: relative;
    min-height: 100%;
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}



/* Genel arka plan ve kart görünümü */
/*body {
    background-color: #fff5f7;*/ /* Açýk pembe arka plan */
/*}*/

/*.card {
    border: none;
    background-color: #ffe6f0;*/ /* Hafif pembe kart arka planý */
    /*border-radius: 10px;
}*/

/* Buton Stili */
/*.custom-pink-button {
    background-color: #ff99cc;*/ /* Açýk pembe */
    /*border: none;
    color: white;
    font-weight: bold;
    padding: 10px;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

    .custom-pink-button:hover {
        background-color: #ff6699;*/ /* Daha koyu pembe */
    /*}*/

/* Form alanlarý */
/*.form-control,
.form-select {
    border-radius: 5px;
    border: 1px solid #ffccdd;
    box-shadow: 0 0 5px rgba(255, 153, 204, 0.2);
}

    .form-control:focus,
    .form-select:focus {
        border-color: #ff99cc;
        box-shadow: 0 0 5px rgba(255, 153, 204, 0.5);
    }



html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}*/

/*.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}*/

/*html {
  position: relative;
  min-height: 100%;
}

body {
    margin-bottom: 60px;
    background-color: #fff5f7;
}*/

/*.form-floating > .form-control-plaintext::placeholder, .form-floating > .form-control::placeholder {
  color: var(--bs-secondary-color);
  text-align: end;
}

.form-floating > .form-control-plaintext:focus::placeholder, .form-floating > .form-control:focus::placeholder {
  text-align: start;
}*/